.as-primary-light { background-color: $primary-light; }
.as-primary-medium { background-color: $primary-medium; }
.as-primary-dark { background-color: $primary-dark; }
.as-secondary-dark { background-color: $secondary-dark; }
.as-secondary-light { background-color: $secondary-light; }
.as-secondary-medium { background-color: $secondary-medium; }
.as-success-dark { background-color: $success-dark; }
.as-success-light { background-color: $success-light; }
.as-success-medium { background-color: $success-medium; }
.as-danger-dark { background-color: $danger-dark; }
.as-danger-light { background-color: $danger-light; }
.as-danger-medium { background-color: $danger-medium; }
.as-inherit { color: inherit; }

.as-fw-thin { font-weight: 300; }
.as-fw-normal { font-weight: normal; }
.as-fw-bold { font-weight: 700; }

.as-fs-italic { font-style: italic; }
.as-fs-normal { font-style: normal; }
.as-fs-oblique { font-style: oblique; }

.as-caps {
	text-transform: uppercase;
}
