  // padding
  .as-pa0 { padding: 0; }
  .as-pa1 { padding: rem(2px); }
  .as-pa2 { padding: rem(4px); }
  .as-pa3 { padding: rem(8px); }
  .as-pa4 { padding: rem(16px); }
  .as-pa5 { padding: rem(24px); }
  .as-pa6 { padding: rem(32px); }

  .as-pl0 { padding-#{side(left)}: 0; }
  .as-pl1 { padding-#{side(left)}: rem(2px); }
  .as-pl2 { padding-#{side(left)}: rem(4px); }
  .as-pl3 { padding-#{side(left)}: rem(8px); }
  .as-pl4 { padding-#{side(left)}: rem(16px); }
  .as-pl5 { padding-#{side(left)}: rem(24px); }
  .as-pl6 { padding-#{side(left)}: rem(32px); }

  .as-pr0 { padding-#{side(right)}: 0; }
  .as-pr1 { padding-#{side(right)}: rem(2px); }
  .as-pr2 { padding-#{side(right)}: rem(4px); }
  .as-pr3 { padding-#{side(right)}: rem(8px); }
  .as-pr4 { padding-#{side(right)}: rem(16px); }
  .as-pr5 { padding-#{side(right)}: rem(24px); }
  .as-pr6 { padding-#{side(right)}: rem(32px); }

  .as-pb0 { padding-bottom: 0; }
  .as-pb1 { padding-bottom: rem(2px); }
  .as-pb2 { padding-bottom: rem(4px); }
  .as-pb3 { padding-bottom: rem(8px); }
  .as-pb4 { padding-bottom: rem(16px); }
  .as-pb5 { padding-bottom: rem(24px); }
  .as-pb6 { padding-bottom: rem(32px); }

  .as-pt0 { padding-top: 0; }
  .as-pt1 { padding-top: rem(2px); }
  .as-pt2 { padding-top: rem(4px); }
  .as-pt3 { padding-top: rem(8px); }
  .as-pt4 { padding-top: rem(16px); }
  .as-pt5 { padding-top: rem(24px); }
  .as-pt6 { padding-top: rem(32px); }

  .as-pv0 { padding-top: 0; padding-bottom: 0; }
  .as-pv1 { padding-top: rem(2px); padding-bottom: rem(2px); }
  .as-pv2 { padding-top: rem(4px); padding-bottom: rem(4px); }
  .as-pv3 { padding-top: rem(8px); padding-bottom: rem(8px); }
  .as-pv4 { padding-top: rem(16px); padding-bottom: rem(16px); }
  .as-pv5 { padding-top: rem(24px); padding-bottom: rem(24px); }
  .as-pv6 { padding-top: rem(32px); padding-bottom: rem(32px); }

  .as-ph0 { padding-#{side(left)}: 0; padding-#{side(right)}: 0; }
  .as-ph1 { padding-#{side(left)}: rem(2px); padding-#{side(right)}: rem(2px); }
  .as-ph2 { padding-#{side(left)}: rem(4px); padding-#{side(right)}: rem(4px); }
  .as-ph3 { padding-#{side(left)}: rem(8px); padding-#{side(right)}: rem(8px); }
  .as-ph4 { padding-#{side(left)}: rem(16px); padding-#{side(right)}: rem(16px); }
  .as-ph5 { padding-#{side(left)}: rem(24px); padding-#{side(right)}: rem(24px); }
  .as-ph6 { padding-#{side(left)}: rem(32px); padding-#{side(right)}: rem(32px); }

  // margin
  .as-ma0 { margin: 0; }
  .as-ma1 { margin: rem(2px); }
  .as-ma2 { margin: rem(4px); }
  .as-ma3 { margin: rem(8px); }
  .as-ma4 { margin: rem(16px); }
  .as-ma5 { margin: rem(24px); }
  .as-ma6 { margin: rem(32px); }

  .as-ml0 { margin-#{side(left)}: 0; }
  .as-ml1 { margin-#{side(left)}: rem(2px); }
  .as-ml2 { margin-#{side(left)}: rem(4px); }
  .as-ml3 { margin-#{side(left)}: rem(8px); }
  .as-ml4 { margin-#{side(left)}: rem(16px); }
  .as-ml5 { margin-#{side(left)}: rem(24px); }
  .as-ml6 { margin-#{side(left)}: rem(32px); }

  .as-mr0 { margin-#{side(right)}: 0; }
  .as-mr1 { margin-#{side(right)}: rem(2px); }
  .as-mr2 { margin-#{side(right)}: rem(4px); }
  .as-mr3 { margin-#{side(right)}: rem(8px); }
  .as-mr4 { margin-#{side(right)}: rem(16px); }
  .as-mr5 { margin-#{side(right)}: rem(24px); }
  .as-mr6 { margin-#{side(right)}: rem(32px); }

  .as-mb0 { margin-bottom: 0; }
  .as-mb1 { margin-bottom: rem(2px); }
  .as-mb2 { margin-bottom: rem(4px); }
  .as-mb3 { margin-bottom: rem(8px); }
  .as-mb4 { margin-bottom: rem(16px); }
  .as-mb5 { margin-bottom: rem(24px); }
  .as-mb6 { margin-bottom: rem(32px); }

  .as-mt0 { margin-top: 0; }
  .as-mt1 { margin-top: rem(2px); }
  .as-mt2 { margin-top: rem(4px); }
  .as-mt3 { margin-top: rem(8px); }
  .as-mt4 { margin-top: rem(16px); }
  .as-mt5 { margin-top: rem(24px); }
  .as-mt6 { margin-top: rem(32px); }

  .as-mv0 { margin-top: 0; margin-bottom: 0; }
  .as-mv1 { margin-top: rem(2px); margin-bottom: rem(2px); }
  .as-mv2 { margin-top: rem(4px); margin-bottom: rem(4px); }
  .as-mv3 { margin-top: rem(8px); margin-bottom: rem(8px); }
  .as-mv4 { margin-top: rem(16px); margin-bottom: rem(16px); }
  .as-mv5 { margin-top: rem(24px); margin-bottom: rem(24px); }
  .as-mv6 { margin-top: rem(32px); margin-bottom: rem(32px); }

  .as-mh0 { margin-#{side(left)}: 0; margin-#{side(right)}: 0; }
  .as-mh1 { margin-#{side(left)}: rem(2px); margin-#{side(right)}: rem(2px); }
  .as-mh2 { margin-#{side(left)}: rem(4px); margin-#{side(right)}: rem(4px); }
  .as-mh3 { margin-#{side(left)}: rem(8px); margin-#{side(right)}: rem(8px); }
  .as-mh4 { margin-#{side(left)}: rem(16px); margin-#{side(right)}: rem(16px); }
  .as-mh5 { margin-#{side(left)}: rem(24px); margin-#{side(right)}: rem(24px); }
  .as-mh6 { margin-#{side(left)}: rem(32px); margin-#{side(right)}: rem(32px); }

  .as-mh-1 { margin-#{side(left)}: rem(-2px); margin-#{side(right)}: rem(-2px); }
  .as-mh-2 { margin-#{side(left)}: rem(-4px); margin-#{side(right)}: rem(-4px); }
  .as-mh-3 { margin-#{side(left)}: rem(-8px); margin-#{side(right)}: rem(-8px); }
  .as-mh-4 { margin-#{side(left)}: rem(-16px); margin-#{side(right)}: rem(-16px); }
  .as-mh-5 { margin-#{side(left)}: rem(-24px); margin-#{side(right)}: rem(-24px); }
  .as-mh-6 { margin-#{side(left)}: rem(-32px); margin-#{side(right)}: rem(-32px); }