$dir: ltr;
$rem: 16px;

//Opacity for elements
$alpha-0: 0;
$alpha-20: 0.2;
$alpha-40: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-100: 1;

// palette

$white: white;
$dark: black;

$primary-light: #50D1FF;
$primary-medium: #2CC7FF;
$primary-dark: #15C1FF;

$secondary-light: #415161;
$secondary-medium: #374859;
$secondary-dark: #2C3E50;


// Feedback

$success-light: #78D7B6;
$success-medium: #5CCEA6;
$success-dark: #4AC99D;

$danger-light: #F66B6F;
$danger-medium: #F44C51;
$danger-dark: #F3393E;